<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="laser_joint" type="fixed">
        <parent link="chassis" />
        <child link="laser_frame" />
        <origin xyz="0.33 0 0.3" rpy="0 0 0 " />
    </joint>

    <link name="laser_frame">
        <visual>
            <geometry>
                <cylinder radius="0.038" length="0.041" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.038" length="0.041" />
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.041" radius="0.038">
            <origin xyz="0 0 0 " rpy="0 0 0" />
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="laser_frame">
        <sensor name="rplidar_a2m12" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <!-- potentially comment out the resolution tags -->
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                    <!-- potentially comment out the resolution tags -->
                    <resolution>1</resolution>
                </range>
            </ray>
            <plugin name="laser_controller" filename="./src/bunker_mini/plugins/libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
        <material>Gazebo/Red</material>
    </gazebo>

</robot>